.Button {
  width: 200px;
  padding: 8px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  max-height: 20px;
  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.Button:hover,
.Button:active {
  background-color: #00bfff;
  border-color: #00bfff;
  color: #fff;
  transition: color 0.3s ease-in, background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}
