.select{
  border: none;
  color: #00bfff;
  padding: 10px;
  font-size: 15px;
  width: 200px;
  cursor: pointer;
  min-height: 30px;
  text-align-last: center;
  text-transform: capitalize;
}