.background {
  background-image: url('../cover-image.jpg');
  background-size: cover;
  height: 500px;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 0 10px 0;
  justify-content: flex-end;
}

.Button {
  align-self: flex-end;
  margin-right: 15px;
}

.Search {
  position: absolute;
  display: flex;
  align-items: baseline;
  margin-top: 15px;
  align-content: center;
}

.Name {
  align-self: flex-end;
  margin-left: 15px;
  position: absolute;
  left: 0;
}
