.background {
  background-image: url('../public/cover-image.jpg');
  background-size: cover;
  height: 500px;
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 0 10px 0;
  justify-content: space-between;
  flex-direction: column;
}

.bottom-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-button-block {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.search {
  display: flex;
  margin-top: 15px;
  margin-right: 20px;
}

.button {
  margin-right: 20px;
}

.search-block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.name-block {
  margin-left: 20px;
}

.posters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;

}

.poster{
  display: inline;
  padding: 5% 5% 0 5%;
}
.poster img{
  max-height: 300px;
}