$border: 1px solid #ccc;

.box {
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: $border;
}

h2 {
  text-align: center;
  color: red;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: red;
  display: flex;
  justify-content: center;
}

.logo {
  background-image: url("./logo.jpg");
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}
